<div class="contacts-contents">
  <div class="contacts-main">
    <h2 class="contacts-title">児童一覧</h2>
    <div class="contact_dates" >
      <% @users.each do |user| %>
        <% if current_user.admin? && (user.admin == false || user.admin == nil) %>
          <div class="contact_date">
            ・<%= link_to user.child_first_name, comments_path(user.id) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>