/* ページ全体のスタイル */
body {
  width: 100%;
  background-color: #f9f9f9;
}

/* ヘッダーのスタイル */
.header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
  color: #f79da8;
}

.title a {
  color: #f79da8;
  text-decoration: none;
}

.user_nav {
  text-align: right;
}

.lists-right li {
  display: inline-block;
  margin-left: 20px;
}

.login,
.sign-up,
.user-childname,
.logout {
  color: #f79da8;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  border: 2px solid #f79da8;
}

.login:hover,
.sign-up:hover,
.user-childname:hover,
.logout:hover {
  background-color: #f79da8;
  color: #fff;
}

/* メインコンテンツのスタイル */
/* メインコンテンツ */
.main-content {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px;
  padding-top: 50px;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* コンセプトメッセージ */
.concept_message {
  font-size: 500%;
  color: #f79da8;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* 連絡帳作成ボタン */
.create-contact-btn {
  margin-bottom: 50px;

}

.create-contact-btn a {
  padding: 10px 20px;
  background-color: #fff;
  color: #f79da8;
  font-size: 50px;
  font-weight: bold;
  border: 10px solid #f79da8;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.create-contact-btn a:hover {
  background-color: #f79da8;
  color: #fff;
}

/* コンテンツ行 */

/* 連絡日 */

.contact_date {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #f2f2f2;
  color: #333333;
  font-size: 21px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.contact_date a {
  color: #333333;
  text-decoration: none;
}

.contact_date a:hover {
  text-decoration: underline;
}

/* フッターのスタイル */
footer {
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #999;
}

footer p {
  margin: 0;
}

/* 追加スタイル */
.user-childname {
  color: #f79da8;
}

.user-nav::after {
  content: "";
  display: block;
  clear: both;
}

.user-nav li:last-child {
  margin-right: 0;
}

.user-nav li:first-child {
  margin-left: 0;
}

@media (max-width: 767px) {
  .header__bar {
    display: block;
  }
} 

.user_nav {
  margin-top: 10px;
}

/* 連絡帳スタイル */
.contacts-contents {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

.contacts-main {
  background-color: #f9e6e7;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin-top: 85px;
}

.contacts-title {
  font-size: 36px;
  font-weight: 500;
  color: #ff6699;
  margin-top: 1px;
  margin-bottom: 30px;
  text-align: center;
}

.weight-bold-text {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weight-text {
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indispensable {
  color: #f79da8;
  margin-left: 5px;
}

.new-contacts-date,
.contacts-temperature,
.contacts-picuptime,
.contacts-contact {
  margin-bottom: 40px;
}

.contacts-number {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  width: 15%;
}

.contacts-content-text {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  width: 100%;
}

.contacts-contact-text {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  width: 100%;
}

.sell-btn-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.sell-btn {
  background-color: #ff6699;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  width: 100%;
}

.back-btn {
  color: #333;
  font-size: 16px;
  text-decoration: none;
}

.more_lists{
  display: flex;
  justify-content: space-between;
}

.more_list{
  background-color: #ff6699;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  width: 30%;
  text-align: center;
}

.more_list a {
  color: #fff;
  text-decoration: none;
}